


/* -----------------------datatables------------------------------------------------------------------------------------- */

.custom-btn {
    /* margin-right: -0.18em !important;
    font-size: 1.5em !important;
    line-height: 1em !important;
    padding: 0.3em 0.5em !important; */
    margin-right: -0.1em !important;
    width: 35px;
    height: 35px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px !important;
    border: 0px solid #c3c3c37a !important;
    background-color: #ffffff !important;
}

.custom-btn:hover{
    border: 1px solid #c3c3c3 !important;
    border-radius: 5px !important;
}

.custom-btn.copy {background-image: url( '/images/export/copy.png' ) !important;}
.custom-btn.pdf {background-image: url( '/images/export/pdf.png' ) !important;}
.custom-btn.excel {background-image: url( '/images/export/excel.png' ) !important;}
.custom-btn.csv {background-image: url( '/images/export/csv.png' ) !important;}
.custom-btn.print {background-image: url( '/images/export/print.png' ) !important;}

div.dt-buttons {
    position: relative;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.dataTables_length, .dataTables_filter{
    margin-top: 5px;
}

.dataTables_filter input, .dataTables_length select{
    border-width: 1px;
    border: 1px solid #a7a7a7 !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 5px 5px;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 99;
}
.loading:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: 0px solid #292929;
    border-top: 2px dotted #5a5a5a;
    border-bottom: 2px dotted #404040;
    border-radius: 50%;
    animation: loading 2s infinite;
}
.loading:before {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000000;
    content: "Loading...";
    position: absolute;
    top: 57%;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
}

        
@media screen and (max-width: 751px) {
    .table, .dataTables_filter, .dt-buttons{
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 0.8;
    }   
}

@media screen and (max-width: 500px) {
    .card-body {
        padding: 0rem;
    }

}





/* -----------------------form modal------------------------------------------------------------------------------------- */
.modal{
    padding: 0 !important;
}
.modal-dialog {
    max-width: 90% !important;
    height: 90%;
    /* padding: 0;
    margin: 0; */
}

.modal-content {
    height: 100%;
}



/* -----------------------component------------------------------------------------------------------------------------- */
/* -----------------------label, textbox, datepicker, dll------------------------------------------------------------------------------------- */
.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    text-align: end;
    padding: .2rem 1.25rem;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
}

.col-form-label {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 400 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select   {
    padding: 0rem .75rem !important;
}

.medatepicker {
    padding: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    width: 100px;
    /* padding: .375rem .75rem; */
}
